#codebadge {
  padding: 10px 5px;
}

#codebadge-name {
  background-color: gray;
  border: 1px solid white;
  box-shadow: 0 0 0 1px black;
  color: white;
  display: inline-block;
  font: normal 13px/25px Monospace, Helvetica, Arial, Serif;
  text-align: center;
  padding: 0px 5px;
}

#codebadge-status {
  box-shadow: 0 0 0 1px black;
  border: 1px solid white;
  color: white;
  display: inline-block;
  font: normal 13px/25px Monospace, Helvetica, Arial, Serif;
  text-align: center;
  padding: 0px 5px;
  position: -5px;
}

.stable {
  background-color: green
}

.warning {
  background-color: orange
}

.critical {
  background-color: red
}

.unknown {
  background-color: gray
}
